@{
    Layout = "_Layout";
}
<div class="home-header">
<h1>Address Book</h1>
</div>

<div class="row">
  <div class="col-md-6 home-buttons">
<form action="/contact/form">
  <button type="submit" class="btn btn-info btn-lg">Create New Contact</button>
</form>
<form action="/address-book/clear" method="post">
  <button type="submit" class="btn btn-info btn-lg">Clear Address Book</button>
</form>
</div>
<div class="col-md-6">
@if (@Model.Count == 0)
{
  <h3>No contacts have been added yet!</h3>
}


@foreach (var contact in Model)
{
    <ul>
        <li><h3><a href= "/contact/details/@contact.GetId()">@contact.GetName()</a></h3></li>
    </ul>
}
</div>
