@{
    Layout = "_Layout";
}

<h1>You've created a new Contact</h1>
<ul>
    <li><h3>@Model.GetName()</h3></li>
    <li><h3>@Model.GetNumber()</h3></li>
    <li><h3>@Model.GetAddress()</h3></li>
</ul>
<p><a href="/">Click here to see all the addresses in your address book</a></p>
