@{
    Layout = "_Layout";
}

<div class="home-header">
<h1>You've created a new contact!</h1>
</div>
<ul class="new-contact-result">
    <li class="list-new"><h3>Name: @Model.GetName()</h3></li>
    <li class="list-new"><h3>Number: @Model.GetNumber()</h3></li>
    <li class="list-new"><h3>Address: @Model.GetAddress()</h3></li>
</ul>
<form action="/" class="new-button">
  <button type="submit" class="btn btn-info btn-lg">View all contacts</button>
</form>
