.home-header h1{
  text-align: center;
  font-size: 54px;
  margin: 6%;
}

.form-entry {
  text-align: center;
  border: 1px black solid;
  padding-top: 6%;
  border-radius: 10px;
}

.home-buttons {
  text-align: center;
}

.btn{
  margin: 5%!important;
}

.contact-list {
  padding-bottom: 10%;
  border: 1px black solid;
}

.no-contacts {
  margin-top: 20%;
  text-align: center;
}

.form-control {
  margin: 2%;
}

li.list-new {
  list-style-type: none;
}

.new-contact-result {
  margin-left: 21%;
}

.new-button {
  text-align: center;
}
