.body {
  background-image: url("../../../img/wormz.png");
}

.home-header h1{
  text-align: center;
  font-size: 54px;
  margin: 4%;
}

.form-entry {
  text-align: center;
  border: 1px black solid;
  padding-top: 6%;
  border-radius: 10px;
}

.home-buttons {
  text-align: center;
}

.home-btn{
  margin: 5%!important;
}

.btn {
  margin: 1%;
}

.contact-list {
  padding-bottom: 10%;
  border: 1px black solid;
  border-radius: 10px;
}

.no-contacts {
  margin-top: 20%;
  text-align: center;
}

.form-control {
  margin: 2%;
}

li.list-new {
  list-style-type: none;
}

.new-contact-result {
  text-align: center;
}

.new-button {
  text-align: center;
  margin-top:7%;
}
.clear-form-btn {
  text-align: center;
}
